/*  Theme color
 *
 *  #fd0     yellow (menu bar [old])
 *  #cde     pastel blue (note boxes)
 *  #000     true black (site header)
 *  #4F82BB; Dark Blue  (Nav bar)
 *  #223     near black (text & logo)
 *  #fff     white (menu text)
 *  #07e     sky blue (links)
 */
/*==================================*\
  ##Global
\*==================================*/
html {
  font-family: -apple-system,
               BlinkMacSystemFont,
               'Segoe UI',
               Roboto,
               'Helvetica Neue',
               Arial, sans-serif;
  color: #223; /*near black*/
}

a {
  color: #0071F0; /*sky blue*/
  text-decoration: none;
}

.hidden {
  display: none;
}
