/*==================================*\
  ##Nav bar
\*==================================*/
.nav-bar {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: #4F82BB; /*Dark Blue*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

.nav-bar--top {
  top: 0;
}

.nav-bar__container {
  display: flex;
  max-width: 750; /*max comfortable line length*/
  padding-left: 8px;
  padding-right:8px;
  margin: auto;
  justify-content: space-between;
}

.nav-bar__button {
  position: relative;
  /*  This isn't needed for display of this element,
   *  but important for the :after pseudo element
   *  below. */
  cursor: pointer;
  background-color: inherit;
  height: 1.25em;
}

.nav-bar__button:not(.nav-bar__button--current-page) {
  color: white;
}

.nav-bar__link {
  color: inherit;
  text-decoration: none;
}

.nav-bar__link::selection {
  background-color: inherit;
  color: inherit;
}

.nav-bar__link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  transition: all 0.4s ease;
  border-top: 3px solid #223; /*near black*/
}

.nav-bar__button:not(.nav-bar__button--current-page)
  .nav-bar__link:hover:after {
    width: 100%;
}

.svg__logo {
  height: 40px;
  width: 40px;
}

.svg__logo--background {
  fill: #4F82BB;
}

@media (max-width: 599px) { /*Phone only*/
  .nav-bar__button {
    font-size: 1.382em;
    line-height: 1.382em;
    /*  The goal is creating a larger target for
     *  touch navigation while also shrinking
     *  the amount of horizontal space devoted to
     *  the menu.*/
  }
}

@media (min-width: 600px) {  /*Tablet-portrait & up*/
  .nav-bar__button {
    font-size: 2em;
  }
  .svg__logo {
    height: 64px;
    width: 64px;
  }
}
