<footer class="footer">
  <div>
    © 2018 | 
    <a href="/license/">Some Rights Reserved</a> |
    <a href="/rss.xml" type="application/rss+xml"> RSS</a>
  </div>
  <div>
    <a href="mailto:daniel-public-email@codesections.com">Email</a> |
    <a href="https://fosstodon.org/@codesections">Mastodon</a> |
    <a href="https://www.linkedin.com/in/daniel-sockwell/">LinkedIn</a> |
    <a href="https://gitlab.com/codesections">GitLab</a> |
    <a href="https://github.com/codesections">GitHub</a> |
    <a href="https://gitlab.com/codesections/codesections-website">Source Code</a>
  </div>
  <div>
    <a href="https://keybase.io/codesections">KeyBase</a> |
    <a href="/public-key.txt">Public Key</a> |
    <a href="/privacy">Privacy Guarantees</a>
</footer>
