<nav class="nav-bar nav-bar--top">
  <div class="nav-bar__container">
    <div class="nav-bar__button"><a class="nav-bar__link" href="/">Home</a></div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/about">About</a></div>
    <div class="nav-bar__button">
        <!-- The code for the site logo, which is an inline SVG because that loads faster-->
    <svg class="svg__logo" viewBox="0 0 100 120" stroke-width=1px stroke=#000 height=100 width=100>
      <a href="/" title="Home">
        <circle fill=#4f82bb stroke-width=0 cx=50 cy=35 r=69 />
        <path d="M -9,50 25,10 V 25 L 4,50 25,75 v 15 z"/>
        <text y=80 x=27 style="font-size:93.5;font-family:'Noto Sans Tibetan'">
          §
        </text>
        <path d="M 110,50 75,90 V 75 L 98,50 75,25 V 10 Z" />
      </a>
    </svg>
    </div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/blog">Blog</a></div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/projects">Projects</a></div>
  </div>
</nav>
