<nav class="nav-bar nav-bar--top">
  <div class="nav-bar__container">
    <div class="nav-bar__button"><a class="nav-bar__link" href="/">Home</a></div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/about">About</a></div>
    <div class="nav-bar__button">
        <!-- The code for the site logo, which is an inline SVG because that loads faster-->
        <svg class="svg__logo" viewBox="0 0 100 120" stroke-width="1px" stroke="#000" height="100" width="100">
          <a href="/">
          <circle class="svg__logo--background" fill="#fff" stroke="none" cx="50" cy="35" r="69"/>
          <path d="M -9,50 25,10 V 25 L 4,50 25,75 v 15 z"/>
          <path d="m 49,92 c 12,0 20,-8 20,-17 0,-7 -3,-11 -7,-13 5,-3 7,-7 7,-12 0,-18 -30,-12 -30,-25 3,-11 17,-7 26,-3 l 2,-7 c -13,-7 -35,-4 -35,11 0,6 3,11 9,14 -5,2 -9,7 -9,13 0,16 29,11 29,24 0,5 -6,8 -13,8 -6,0 -11,-4 -15,-6 l -2,7 c 5,3 11,6 18,6 z"/>
          <path d="M 110,50 75,90 V 75 L 98,50 75,25 V 10 Z"/>
          <ellipse class="svg__logo--background" ry="8.5" rx="11.5" cy="51" cx="50" fill="#fff"/>
          </a>
        </svg>
    </div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/blog">Blog</a></div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/projects">Projects</a></div>
  </div>
</nav>
