<nav class="nav-bar nav-bar--top">
  <div class="nav-bar__container">
    <div class="nav-bar__button"><a class="nav-bar__link" href="/">Home</a></div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/about">About</a></div>
    <div class="nav-bar__button">
        <!-- The code for the site logo, which is an inline SVG because that loads faster-->
<svg width="100" height="100" stroke="#000" stroke-width="1px" viewBox="0 0 100 120" class="svg__logo">
  <circle r="69" cy="35" cx="50" stroke="none" fill="#4f82bb" />
  <path d="M -9,50 25,10 V 25 L 4,50 25,75 v 15 z" />
  <path
     d="M 47,93 C 59,93 67,85 67,76 67,69 64,65 60,63 65,60 67,56 67,51 67,33 37,39 37,26 40,15 54,19 63,23 l 2,-7 C 52,9 30,12 30,27 c 0,6 3,11 9,14 -5,2 -9,7 -9,13 0,16 29,11 29,24 C 59,83 53,86 46,86 40,86 35,82 31,80 l -2,7 C 34,90 40,93 47,93 Z" />
  <path d="M 110,50 75,90 V 75 L 98,50 75,25 V 10 Z" />
  <ellipse fill="#4f82bb"
     cx="49.5" cy="52.5" rx="11.5" ry="8.5" />
</svg>
    </div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/blog">Blog</a></div>
    <div class="nav-bar__button"><a class="nav-bar__link" href="/projects">Projects</a></div>
  </div>
</nav>
