<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% include "component/favicon.html" %}
    <title>
      {% if page.title %} {{ page.title }} | {% endif %} CodeSections 
    </title>
    <style> 
      /*==================================*\
        ##All CSS for this page
      \*==================================*/
      {% include "css/global-styles.css.html" %}
      {% include "css/nav-bar.css.html" %}
      {% include "css/main-content.css.html" %}
      {% include "css/footer.css.html" %}

      {% block page_specific_styles %} {% endblock page_specific_styles %}
    </style>
  </head>

  <body>
    {% include "component/nav-bar.html" %}

    <section class="content-main">
      {% block content %}
      {% endblock content %}
    </section>
   
    {% include "component/footer.html" %}

    {% block page_specific_js_tag %} {% endblock page_specific_js_tag %}
  </body>
</html>
