{% import "macros/css_macros.html" as css %}
{% import "macros/component_macros.html" as component %}
  {% set context = page | default(value = section) %}


<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {{ component::description(context=context) }}
    {{ component::favicon() }}
    {# use string concatenation with `~` after upgrading to next version #}
    <link rel="canonical" href="{{ config.extra.live_base_url }}{{ current_path }}">
    <script>
      console.log({{__tera_context}})
    </script>
    <title>
      {% if page.title %} {{ page.title }} | {% endif %} CodeSections 
    </title>
    <style> 
      /*==================================*\
        ##All CSS for this page
      \*==================================*/
      {{ css::global_styles() }}
      {{ css::nav_bar() }}
      {{ css::main_content() }}
      {{ css::footer() }}
      {% block page_specific_styles %}
      {% endblock page_specific_styles %}
    </style>
  </head>

  <body>
    {{ component::navbar() }}
    <section class="content-main">
      {% block content %}
      {% endblock content %}
    </section>
    {{ component::footer() }}

    {% block page_specific_js_tag %}
    {% endblock page_specific_js_tag %}
  </body>
</html>
