{% extends "base.html" %}
{% import "sections/regexp.html" as regexp %}
{% import "sections/blog.html" as blog %}
{% import "sections/projects.html" as projects %}

{% block page_specific_styles %}
  {% if current_path is starting_with("projects/reg-exp/") %}
    {{ regexp::page_specific_styles()  }}
  {% endif %}
{% endblock page_specific_styles %}

{% block content %}
  {% if current_path is starting_with("blog") %}
    {{ blog::content(section=section, paginator=paginator) }}
  {% else %}
    {{ projects::content(section=section) }}
  {% endif %}
{% endblock content %}

{% block page_specific_js_tag %}
  {% if current_path is starting_with("projects/reg-exp") %}
    {{ regexp::page_specific_js_tag() }}
  {% endif %}
{% endblock %}
