{{ define "title" }}
  {{ .Title }} | CodeSections
{{ end }}
{{ define "main" }}
  {{.Content}}
  {{ range first 10 .Data.Pages }}
    <article>
      <!-- this <div> includes the title summary -->
      {{ if .Truncated }}
      <div>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ .Summary }}
      </div>
      <div>
        <a href="{{ .RelPermalink }}">(read more…)</a>
      </div>
      {{ else }}
        <h2>{{ .Title }}</h2>
        {{ .Summary }}
      {{ end }}
      <hr>
    </article>
{{ end }}
{{ end }}
